html(lang='fr')
    head
        //- include includes/header.pug
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/main.css")
        script(src="https://unpkg.com/axios/dist/axios.min.js")
    body
        //- include includes/header.pug
        include includes/topbar.pug
        .container-fluid
            block content 
        include includes/footer.pug

title Tweeter