extends div
layout.pug
block content 
    div(class ="d-flex flex-rox content mx-auto b1")
        div(class="profile-container b")
            include ../include/profile.pug
        div(class="flex-fill b") tweet